.recipes__items {
    margin: 0 0 10px 0;
}

.recipes__list-element {
    margin-bottom: 35px;
    background-color: lightgray;
    border-radius: 15px;
    padding: 5px 5px 5px 15px;
    margin-right: 15px;
}

#recipes__list {
    display: grid;
    list-style-type: none;
<<<<<<< HEAD
=======
}

@media screen and (min-width: 375px) {
    .recipes__list {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 668px) {
    .recipes__list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1366px) {
    .recipes__list {
        grid-template-columns: 1fr 1fr 1fr;
    }
>>>>>>> f610b3d67970b212bdd745edc11227ca6a4e1755
}

.headline {
    text-align: center;
    margin: 25px 0 15px 0;
}

.specList {
    list-style-type: none;
}

img {
    vertical-align: top;
    width: 75px;
    height: 75px;
}